.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/*Custom CSS*/
.bankname {
  color: white;
  font-size: 18px;
  padding: 10px;
}
.navbar {
  background-color: navy;
  height: 30px;
  color: white;
  border-radius: 5px;
}
.activeLink {
  background-color: yellow;
  color: black !important;
}
.activeLink a {
  color: black !important;
}
.popperBox {
  position: absolute;
  color: yellow;
  margin-top: 87px;
  z-index: 20;
  border: 1px solid yellow;
  background: gray;
  padding: 5px;
  border-radius: 10px;
}
/*Custom CSS*/
